@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* global */

:root {
  --main-text: 'Playfair Display';
  --secondary-text: 'Montserrat';
  --main-color: #f2e5d7;
  --secondary-color: #303a2b;
  --tertiary-color: #628395;
  --light: #f2f2f2;
  --dark: #333;
}

html {
  font: 16px Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  background-color: var(--main-color);
  margin: 0;
}

/* Content Wrapper */

#content-wrapper {
  margin: 0 auto;
  width: 90%;
}

/* Header - Footer */

header {
  align-items: center;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  position: static;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

nav ul li {
  font: 22px var(--secondary-text);
  list-style-type: none;
  padding: 0 0.5rem;
}

nav a {
  color: var(--light);
  display: inline-block;
  opacity: 1;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

nav a:hover {
  opacity: 0.7;
  transform: translateY(-3px);
}

h1 {
  color: var(--light);
  font: 48px var(--main-text);
  margin: 0;
}

footer {
  background-color: var(--secondary-color);
  color: var(--light);
  display: flex;
  font: 18px var(--secondary-text);
  justify-content: space-between;
  padding: 1rem;
}

footer a {
  color: var(--light);
  text-decoration: none;
}

/* Home */

/* Hero Image Section */

.hero-image {
  background: url('../img/assets/hero.jpg') center / cover no-repeat;
  height: 45vw;
  position: relative;
}

.static-text {
  color: white;
  font: 72px var(--main-text);
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

#text {
  color: white;
  font: 48px var(--secondary-text);
  left: 50%;
  position: absolute;
  text-align: center;
  top: 60%;
  transform: translate(-50%, -50%);
}

.caret {
  animation: blink 1s infinite;
  display: inline-block;
  margin-left: 5px;
  width: 10px;
}

/* slideshow */

.slideshow-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto 0 auto;
  justify-content: center;
  max-width: 1000px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  position: relative;
}

.mySlides img {
  display: block;
  transition: filter 0.5s ease-in-out;
  width: 100%;
}

.prev,
.next {
  border-radius: 0 3px 3px 0;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: -22px;
  padding: 16px;
  position: absolute;
  top: 50%;
  transition: 0.6s ease;
  user-select: none;
  width: auto;
}

.next {
  border-radius: 3px 0 0 3px;
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  background: rgba(0, 0, 0, 0.5); /* Slight background for readability */
  border-radius: 8px;
  color: white;
  font: 24px var(--secondary-text);
  left: 50%;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.text a {
  color: #628395;
  text-decoration: none;
}

.text a:hover {
  color: var(--light);
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--light);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0.5rem;
  transition: background-color 0.6s ease;
  width: 15px;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-duration: 1.5s;
  animation-name: fade;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Schedule */

.market-schedule h2 {
  font: 48px var(--main-text);
  text-align: center;
}

.market-schedule table {
  border: 1px solid var(--tertiary-color);
  border-spacing: 0;
  font: 24px var(--secondary-text);
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.market-schedule table th {
  color: var(--light);
  font: 12px var(--secondary-color);
}

.market-schedule table td {
  border: 1px solid var(--tertiary-color);
  color: var(--dark);
  padding: 1rem;
}

.market-schedule table tr {
  border: 1px solid var(--tertiary-color);
  background-color: var(--main-color);
}

.market-schedule table tr:nth-of-type(odd) {
  border: 1px solid var(--tertiary-color);
  background-color: var(--tertiary-color);
  color: var(--light);
}

.market-schedule table a {
  background-color: var(--secondary-color);
  border-radius: 5px;
  color: var(--light);
  padding: 0.5rem;
  text-decoration: none;
}

/* Our Vendors */

div#vendorhead {
  background-color: var(--dark);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
}

#vendorhead h2 {
  color: var(--light);
  font: 46px var(--main-text);
  margin: 0;
  text-align: center;
}

#vendorhead form {
  border-radius: 5px;
  height: 1.5rem;
  margin: 0 auto;
}

#vendorhead input {
  width: 400px;
}

#vendor-list {
  background-color: #628395cc;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
}

.vendor-card {
  align-content: space-around;
  background-color: var(--main-color);
  border-radius: 5px;
  box-shadow: 1px 5px 5px var(--dark);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  transition: box-shadow 0.3s ease-in-out;
}

.vendor-card:hover {
  box-shadow: 1px 5px 5px var(--light);
}

.vendor-card h2 {
  font: 28px var(--secondary-text);
  text-align: center;
}

.vendor-card img {
  border-radius: 100%;
  box-shadow: 0 0 10px var(--dark);
  margin: 0 auto;
}

/* Vendor Profile */

#vendor-profile-container {
  background-color: var(--tertiary-color);
  border-radius: 5px;
  display: flex;
  margin: 1rem;
}

#vendor-profile-card {
  color: var(--light);
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
}

#vendor-profile-card h2 {
  text-align: center;
}

#vendor-profile-card a {
  color: var(--dark);
  text-decoration: none;
}

#vendor-profile-card a:hover {
  color: var(--light);
}

#vendor-upcoming-markets {
  align-self: stretch;
  background-color: var(--secondary-color);
  border-radius: 0 5px 5px 0;
  color: var(--light);
  flex: 2;
  padding: 1rem;
}

#vendor-upcoming-markets h2 {
  margin: 1rem;
}

#vendor-profile-card img {
  border: 5px solid var(--main-color);
  border-radius: 100%;
  box-shadow: 0 0 10px var(--dark);
  margin: 0 auto;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding: 1rem;
}

#notification {
  background: #4caf50;
  border-radius: 5px;
  color: white;
  display: none; /* Initially hidden */
  font-size: 16px;
  left: 50%;
  padding: 10px 20px;
  position: fixed;
  top: 20px;
  transform: translateX(-50%);
  z-index: 1000;
}

#notification.error {
  background: #e74c3c;
}

#notification.show {
  display: block;
}

#notification.hidden {
  display: none;
}

/* About Us */

.aboutus h2 {
  font: 64px var(--main-text);
  text-align: center;
}

.aboutus div:nth-last-of-type(1) {
  margin: 0 auto;
  width: 80%;
}

.aboutus main section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.aboutus-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0;
}

.aboutus-item:nth-of-type(2) {
  flex-direction: row-reverse !important;
  text-align: right;
}

.aboutus-item p {
  font: 32px var(--secondary-text);
}

.aboutus div div:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
}

/* User Login */

.login-page {
  background: url('/img/assets/blueberries.jpg') center / cover no-repeat;
}

.user-login {
  background-color: var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
}

.user-login legend {
  font: 48px var(--main-text);
  text-align: center;
}

.user-login p {
  text-align: center;
}

.user-login img {
  border: 5px solid var(--dark);
  border-radius: 100%;
  box-shadow: 0 0 10px var(--dark);
  margin: 0 auto;
}

.user-login input[type='text'] {
  background: url(/img/assets/userB.png) no-repeat left 10px center;
  background-size: 20px 20px;
  border-radius: 5px;
  color: var(--dark);
  height: 30px;
  padding-left: 40px;
}

.user-login input[type='password'] {
  background: url(/img/assets/lock.png) no-repeat left 10px center;
  border-radius: 5px;
  background-size: 20px 20px;
  color: var(--dark);
  height: 30px;
  padding-left: 40px;
}

.user-login fieldset {
  align-items: center;
  border: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.user-login button:first-of-type {
  background-color: var(--tertiary-color);
  border-radius: 5px;
  color: var(--light);
  margin: 0 auto;
  transition: 0.2s ease-in-out;
  width: 150px;
}

.user-login button:first-of-type:hover {
  background-color: var(--light);
  color: var(--dark);
}

.user-login a {
  color: var(--tertiary-color);
  text-decoration: none;
}

.hidden {
  display: none;
}

.popup {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  left: 50%;
  padding: 20px;
  position: fixed;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.popup-content button {
  border: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px 15px;
}

.popup-content button:hover {
  background-color: #ddd;
}
