@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* global */

:root {
  --main-text: 'Playfair Display';
  --secondary-text: 'Montserrat';
  --main-color: #cdd1cb;
  --secondary-color: #073b3a;
  --light: #f2f2f2;
  --dark: #333;
}

html {
  font: 16px Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  background-color: var(--main-color);
  margin: 0;
  padding-top: 192px;
}

.feedback-popup {
  background-color: var(--dark);
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  color: var(--light);
  display: none;
  font-size: 1.25rem;
  left: 50%;
  opacity: 0;
  padding: 15px 25px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease-in-out;
  z-index: 1000;
}

.frozen-popup {
  background-color: #f44336;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  left: 50%;
  padding: 20px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1000;
}

.frozen-popup::after {
  background: rgba(0, 0, 0, 0.7);
  content: '';
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.disabled-link {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

/* Header - Footer */
header {
  align-items: center;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  left: 0;
  padding: 1rem 2rem;
  position: fixed;
  row-gap: 0.25rem;
  top: 0;
  transition: transform 0.3s ease;
  width: 100%;
  z-index: 1000;
}

header > div {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Class added when scrolling down - moves header off-screen */
header.header-hidden {
  transform: translateY(-100%);
}

/* Keep your other header styles as they were */
header a:first-of-type {
  color: var(--light);
  cursor: pointer;
  text-decoration: none;
}

nav ul li {
  display: flex;
  font: 22px var(--secondary-text);
  justify-content: center;
  list-style-type: none;
  padding: 0.5rem;
}

nav a {
  color: var(--light);
  display: inline-block;
  opacity: 1;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

nav a:hover {
  opacity: 0.7;
  transform: translateY(-3px);
}

header h1 {
  color: var(--light);
  font: 48px var(--main-text);
  margin: 0;
}

.nav-links {
  background: var(--dark);
  display: none;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 100%;
  width: 100%;
}

.nav-links ul {
  flex-direction: column;
  padding: 0;
}

.nav-links.active {
  display: block;
  z-index: 999;
}

#menu {
  color: var(--light);
  cursor: pointer;
  font: 48px var(--secondary-text);
  transition: all 0.2s ease-in-out;
}

#menu:hover {
  opacity: 0.7;
}

div#nav-history {
  align-items: center;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem;
  padding: 0;
}

#nav-history button {
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: 1px solid var(--main-color);
  color: var(--light);
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  padding: 0.25rem 1rem;
  transition: all 0.2s ease-in-out;
}

#nav-history button:hover {
  opacity: 0.7;
  transform: scale(1.025);
}

#breadcrumbs ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 0 3px;
}

#breadcrumbs li {
  font: 14px var(--secondary-text);
  padding: 2px;
}

#breadcrumbs li::after {
  content: '›';
  margin-left: 0.5rem;
  color: var(--light);
}

#breadcrumbs li:last-child::after {
  content: '';
}

#breadcrumbs a {
  color: var(--light);
  text-decoration: none;
}

#breadcrumbs a:hover {
  text-decoration: underline;
}

#breadcrumbs span {
  color: var(--light);
  text-decoration: underline;
}

footer {
  background-color: var(--secondary-color);
  color: var(--light);
  display: flex;
  font: 18px var(--secondary-text);
  justify-content: space-between;
  padding: 1rem;
}

footer a {
  color: var(--light);
  text-decoration: none;
}

/* Home */

/* Hero Image Section */

.hero-image {
  align-items: center;
  background: url('../img/assets/hero.jpg') center / cover no-repeat;
  display: flex;
  height: 45vw;
  justify-content: center;
  position: relative;
}

.hero-image > div {
  align-items: center;
  background-color: #f2f2f2cc;
  border-radius: 5px;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 3rem;
  width: 70%;
}

.hero-image > div h2 {
  font: 32px var(--main-text);
  margin: 0;
  text-align: center;
}

.hero-image > div p {
  font: 22px var(--secondary-text);
  margin: 0.5rem;
  text-align: center;
}

.hero-image > div div a {
  background-color: var(--dark);
  border-radius: 5px;
  color: var(--light);
  padding: 0.5rem;
  margin: 1rem auto;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.hero-image > div div a:hover {
  opacity: 0.7;
}

/* slideshow */

.slideshow-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto 0 auto;
  justify-content: center;
  max-width: 1000px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  position: relative;
}

.mySlides img {
  display: block;
  transition: filter 0.5s ease-in-out;
  width: 100%;
}

.prev,
.next {
  border-radius: 0 3px 3px 0;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: -22px;
  padding: 16px;
  position: absolute;
  top: 50%;
  transition: 0.6s ease;
  user-select: none;
  width: auto;
}

.next {
  border-radius: 3px 0 0 3px;
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  background: rgba(0, 0, 0, 0.5); /* Slight background for readability */
  border-radius: 8px;
  color: white;
  font: 24px var(--secondary-text);
  left: 50%;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.text a {
  color: #628395;
  text-decoration: none;
}

.text a:hover {
  color: var(--light);
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--light);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0.5rem;
  transition: background-color 0.6s ease;
  width: 15px;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-duration: 1.5s;
  animation-name: fade;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Schedule */

#schedule-map-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

#schedule-div {
  align-items: center;
  background-color: var(--light);
  border: 3px solid var(--dark);
  display: flex;
  flex-direction: column;
  width: 100%;
}

#map {
  height: 430px;
  margin: 0;
  width: 100%;
}

.market-schedule h2 {
  font: 36px var(--main-text);
  text-align: center;
  margin: 0 0 1rem 0;
}

.market-schedule table {
  border: 1px solid var(--tertiary-color);
  border-spacing: 0;
  font: 24px var(--secondary-text);
  margin: 0;
  text-align: center;
  width: 100%;
}

.market-schedule table th {
  background-color: var(--secondary-color);
  color: var(--light);
  font: 24px var(--secondary-text);
  padding: 0.5rem;
}

.market-schedule table td {
  border: 1px solid var(--dark);
  color: var(--dark);
  padding: 1rem;
}

.market-schedule table tr {
  border: 1px solid var(--tertiary-color);
  background-color: var(--main-color);
}

.market-schedule table tr:nth-of-type(odd) {
  background-color: var(--tertiary-color);
  color: var(--light);
}

.market-schedule table td a {
  background-color: var(--dark);
  border-radius: 5px;
  color: var(--light);
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.market-schedule table td a:hover {
  background-color: var(--dark);
  color: var(--light);
  cursor: pointer;
  opacity: 0.7;
}

/* Market Vendors */

.vendors-attending h2 {
  font: 36px var(--main-text);
  text-align: center;
}

.week-vendor {
  background-color: var(--light);
  padding: 1rem;
  margin: 1rem;
}

.vendor-item {
  align-items: center;
  border-bottom: 3px solid var(--secondary-color);
  display: flex;
  font: 24px var(--secondary-text);
  gap: 1rem;
  list-style-type: none;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.vendor-item img {
  border-radius: 100%;
}

.vendor-item:hover {
  color: var(--light);
  background-color: var(--secondary-color);
}

/* Our Vendors */

div#vendorhead {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  position: sticky;
  z-index: 998;
}

#vendorhead h2 {
  color: var(--dark);
  font: 46px var(--main-text);
  margin: 0;
  text-align: center;
}

#vendorhead form {
  border-radius: 5px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  height: 1.5rem;
  margin: 0 auto;
}

#vendorhead input {
  border: none;
  border-radius: 5px;
  height: 1.5rem;
  width: 400px;
  flex: 4;
  transition: 0.1s ease-in-out;
}

#vendorhead button:hover {
  opacity: 0.75;
}

#vendorhead button {
  align-items: center;
  background-color: var(--dark);
  border: none;
  border-radius: 5px;
  color: var(--light);
  cursor: pointer;
  display: flex;
  flex: 1;
  font-family: var(--secondary-text);
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  padding: 0.8rem 1.5rem;
  transition: all 0.3s ease;
}

#vendor-list {
  background-color: var(--main-color);
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
}

#vendor-list a {
  color: var(--dark);
  text-decoration: none;
}

.vendor-card {
  align-items: center;
  background-color: var(--light);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font: 24px var(--secondary-text);
  height: 330px;
  justify-content: space-between !important;
  padding: 0;
  transition: 0.1s ease-in-out;
  width: 200px;
}

.vendor-card:hover {
  scale: 1.025;
}

.vendor-card h2 {
  font: 28px var(--secondary-text);
  margin: 1rem !important;
  text-align: center;
  white-space: wrap;
}

.vendor-card div {
  display: flex;
  flex: 1;
}

.vendor-card div:last-of-type {
  align-items: center;
}

.vendor-card img {
  border-radius: 5px 5px 0 0;
  object-fit: contain;
}

.vendor-card p {
  font: 18px var(--secondary-text);
  margin-bottom: 1rem;
}

.pagination {
  background-color: var(--light);
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.pagination a {
  color: var(--dark);
  text-decoration: none;
}

.pagination a {
  background-color: var(--secondary-color);
  border-radius: 5px;
  color: var(--light);
  padding: 1rem;
}

/* Vendor Product List */

.product-list {
  margin: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product-card {
  align-items: flex-start;
  background-color: var(--light);
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  height: auto;
  justify-content: flex-start;
  padding: 1rem;
  width: 300px;
}

.product-card h3 {
  font: 24px var(--secondary-text);
  margin: 1rem auto;
}

.product-card p:last-of-type {
  overflow: clip;
  text-overflow: ellipsis;
  text-align: left;
}

.product-card img {
  border-radius: 5px;
  margin: 0 auto;
}

.product-list a {
  border-radius: 5px;
  color: var(--light);
  display: inline;
  padding: 0.5rem;
  margin: 0.5rem auto;
  text-decoration: none;
  text-align: center;
  transition: all 0.1s ease-in-out;
  width: 100px;
}

.product-list a:first-of-type {
  background-color: var(--dark);
}

.product-list a:last-of-type {
  background-color: #a23024;
}

.product-list a:hover {
  opacity: 0.7;
}

.product-list a:last-of-type {
  background-color: #a23024;
}
/* Vendor Profile */

#vendor-profile-container,
#user-profile {
  background-color: var(--light);
  border-radius: 5px;
  display: flex;
  margin: 1rem;
}

#vendor-profile-card {
  align-items: center;
  color: var(--dark);
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  padding: 1rem;
  justify-content: center;
}

#vendor-profile-card h2 {
  font: 36px var(--secondary-text);
  font-variant: small-caps;
  text-align: center;
}

.vendor-profile h2 {
  font: 32px var(--secondary-text);
  text-align: center;
}

#vendor-profile-card a {
  color: var(--dark);
  text-decoration: none;
}

#vendor-profile-card p {
  font: 18px var(--secondary-text);
}

#vendor-profile-card a:hover {
  color: var(--light);
}

.favorite-btn {
  background-color: var(--main-color);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  width: 50px;
  transition: all 0.3sec ease-in-out;
}

.favorite-btn:hover {
  transform: scale(1.1);
}

#vendor-upcoming-markets {
  align-self: stretch;
  background-color: var(--secondary-color);
  border-radius: 0 5px 5px 0;
  color: var(--light);
  flex: 2;
  padding: 1rem;
}

#vendor-upcoming-markets h2 {
  margin: 1rem;
}

#vendor-profile-card img {
  /* border: 5px solid var(--secondary-color); */
  border-radius: 100%;
  margin: 0 auto;
  object-fit: contain;
}

#vendor-profile-card div:first-of-type {
  padding: 1rem;
}

.vendor-testimonial {
  background: var(--light);
  border-radius: 8px;
  font-style: italic;
  margin: 30px auto;
  max-width: 1200px;
  padding: 15px;
  text-align: center;
}

.vendor-testimonial blockquote {
  font-size: 1.5em;
  line-height: 1.5;
  quotes: '“' '”';
}

.vendor-testimonial blockquote:before {
  color: var(--secondary-color);
  content: open-quote;
  font: 24px var(--main-text);
  font-size: 2em;
  vertical-align: -0.3em;
}

.vendor-testimonial blockquote:after {
  font: 24px var(--main-text);
  color: var(--secondary-color);
  content: close-quote;
  font-size: 2em;
  vertical-align: -0.3em;
}

.testimonial-author {
  font-size: 1.1em;
  color: var(--dark);
  font-weight: bold;
  margin-top: 10px;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding: 1rem;
}

#notification {
  background: #4caf50;
  border-radius: 5px;
  color: white;
  display: none; /* Initially hidden */
  font-size: 16px;
  left: 50%;
  padding: 10px 20px;
  position: fixed;
  top: 20px;
  transform: translateX(-50%);
  z-index: 1000;
}

#notification.error {
  background: #e74c3c;
}

#notification.show {
  display: block;
}

#notification.hidden {
  display: none;
}

/* About Us */

.about-us h2 {
  font: 64px var(--main-text);
  text-align: center;
}

.about-us main section {
  background: #f2f2f2cc;
  margin: 0 auto;
  padding: 1.5rem;
  width: 70%;
}

.aboutus-item {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.aboutus-item:nth-of-type(4) {
  align-items: center;
  flex-direction: column !important;
}

.aboutus-item:nth-of-type(4) a {
  background-color: var(--dark);
  border-radius: 5px;
  color: var(--light);
  font: 32px var(--secondary-text);
  padding: 0.5rem 1rem;
  margin: 0 auto;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.aboutus-item:nth-of-type(4) a:hover {
  opacity: 0.7;
  transform: translateY(-3px);
}

.aboutus-item picture {
  flex: 1;
  object-fit: contain;
}

.aboutus-item:nth-of-type(2) {
  flex-direction: row-reverse !important;
  text-align: right;
}

.aboutus-item p {
  flex: 1;
  font: 32px var(--secondary-text);
  margin-top: 0;
}

#contact {
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  margin: 0;
  padding: 1rem;
}

#contact div {
  margin: 0.5rem;
}

.about-us div div:last-of-type h3,
.about-us div div:last-of-type span {
  font: 20px var(--secondary-text);
}

/* User Login */

.log-in {
  background: url('/img/assets/blueberries.jpg') center / cover no-repeat;
}

.user-login {
  background-color: var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  padding: 1rem;
  width: 50%;
}

.user-login legend {
  font: 48px var(--main-text);
  text-align: center;
}

.user-login p {
  text-align: center;
}

.user-login img {
  border: 5px solid var(--secondary-color);
  border-radius: 100%;
  /* box-shadow: 0 0 10px var(--dark); */
  margin: 0 auto;
}

.user-login input[type='text'] {
  background: url(/img/assets/userB.png) no-repeat left 10px center;
  background-size: 20px 20px;
  border-radius: 5px;
  color: var(--dark);
  height: 30px;
  padding-left: 40px;
}

.user-login input[type='password'] {
  background: url(/img/assets/lock.png) no-repeat left 10px center;
  border-radius: 5px;
  background-size: 20px 20px;
  color: var(--dark);
  height: 30px;
  padding-left: 40px;
}

.user-login fieldset {
  align-items: center;
  border: none;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#openSignup,
#login {
  background-color: var(--secondary-color);
  border-radius: 5px;
  color: var(--light);
  font: 18px var(--secondary-text);
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.1s ease-in-out;
}

#login {
  margin: 0 auto;
  width: 150px;
}

#openSignup:hover,
#login:hover {
  opacity: 0.7;
}

.hidden {
  display: none;
}

.popup {
  background: var(--light);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  left: 50%;
  padding: 20px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup-content button {
  background-color: var(--dark);
  border: none;
  border-radius: 5px;
  color: var(--light);
  cursor: pointer;
  font: 18px var(--secondary-text);
  margin: 10px;
  padding: 10px;
  transition: 0.1s ease-in-out;
}

.popup-content button:hover {
  opacity: 0.7;
}

/* User / Vendor Sign Up */

.sign-up main,
.vendor-signup main {
  margin: 0 auto;
  width: 80%;
}

.sign-up form {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.vendor-signup form {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.sign-up div:nth-of-type(2) fieldset {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.signup-button {
  background-color: var(--dark);
  border: none;
  border-radius: 5px;
  color: var(--light);
  font: 18px var(--secondary-text);
  margin: 1rem;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

.signup-button:hover {
  opacity: 0.7;
  transform: translateY(-3px);
}

.sign-up div:nth-of-type(2) div,
.vendor-signup div:nth-of-type(3) fieldset + div {
  display: flex;
  justify-content: center;
}

.vendor-signup div:nth-of-type(3) div fieldset {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vendor-signup div:nth-of-type(2) div {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 300px;
}

#description,
#vendor-bio {
  width: 300px;
  height: 100px;
}

/* Hide the default file input appearance */
#profile-pic {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

/* Style the label that will act as our button */
label[for='profile-pic'] {
  background-color: var(--secondary-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--light);
  cursor: pointer;
  display: inline-block;
  font: 32px var(--secondary-text);
  font-family: Arial, sans-serif;
  margin: 0.5rem;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
}

/* Hover effect */
label[for='profile-pic']:hover {
  opacity: 0.7;
  transform: scaleY(-3px);
}

#profile-preview,
#product-image-preview {
  background: url('../img/assets/add-photo.svg') center / cover;
  border-radius: 5px;
}

.sign-up fieldset,
.vendor-signup fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.sign-up legend {
  font: 48px var(--main-text);
  margin: 1rem;
  text-align: center;
}

.vendor-signup h2 {
  font: 48px var(--main-text);
  margin: 1rem;
  text-align: center;
}

.vendor-signup p {
  font: 18px var(--secondary-text);
  flex-basis: 100%;
}

.sign-up label,
.vendor-signup label {
  font: 32px var(--secondary-text);
  text-align: center;
}

.sign-up input {
  border: 0;
  border-radius: 5px;
  height: 30px;
  width: 400px;
  padding: 10px;
}

.vendor-signup input {
  border: 0;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  padding: 10px;
}

.vendor-signup main div {
  padding: 1rem;
}

/* Styling the custom file input button */
.file-input {
  display: none;
}

.custom-file-label {
  background-color: #4caf50;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.custom-file-label:hover {
  background-color: #45a049;
}

.file-preview-container {
  margin-top: 10px;
  text-align: center;
}

.image-preview {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 100%;
}

#file-name {
  color: #333;
  display: block;
  font-size: 14px;
  font-style: italic;
  margin-top: 5px;
}

/* File input label when file is chosen */
.file-input:valid + .file-preview-container #file-name {
  color: #4caf50;
  font-style: normal;
  font-weight: bold;
}

/* User Dashboard */

#user-profile h2 {
  font: 48px var(--secondary-text);
  margin: 0;
}

#user-profile h2:last-of-type {
  font: 36px var(--secondary-text);
}

#user-card {
  color: var(--dark);
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  background-color: var(--light);
  justify-content: flex-start !important;
  row-gap: 1rem;
  height: auto;
}

#user-card p {
  font: 24px var(--secondary-text);
  margin: 0;
  padding: 0;
}

#user-card img:nth-of-type(1) {
  border-radius: 100%;
}

.btn {
  align-items: center;
  background: none !important;
  color: var(--dark);
  display: flex;
  font: 14 var(--secondary-text);
  gap: 0.5rem;
  justify-content: center;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  width: 120px;
  transition: 0.2s ease-in-out;
}

.btn img {
  border-radius: 0 !important;
}

.btn:hover {
  opacity: 0.7;
}

#saved-vendors {
  background-color: var(--main-color);
  display: flex;
  flex: 2;
  flex-flow: row wrap;
  padding: 1rem;
}

#saved-vendors h2 {
  margin: 0 auto;
}

#saved-vendors img {
  border-radius: 5px;
  margin: 0 auto;
}

#saved-vendors ul {
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#saved-vendors li {
  background-color: var(--light);
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  justify-items: center;
  font: 18px;
  list-style-type: none;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  transition: 0.1s ease-in-out;
  width: 300px;
}

#saved-vendors li:hover {
  transform: scale(1.05);
}

#saved-vendors a {
  border-radius: 5px;
  color: var(--dark);
  display: block;
  margin: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
}

#saved-vendors a:first-of-type,
#saved-vendors a:last-of-type {
  background-color: #333333cc;
  color: var(--light);
  transition: 0.2s ease-in-out;
}

#saved-vendors a:first-of-type:hover {
  background-color: #4caf50;
}

#saved-vendors a:last-of-type:hover {
  background-color: #a53124;
  color: var(--light);
}

/* Edit Profile */

.edit-profile-details h2 {
  font: 48px var(--main-text);
  text-align: center;
  margin: 0.5rem;
}

.edit-profile-details form label {
  font: 32px var(--secondary-text);
}

.edit-profile-details form {
  background-color: var(--light);
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.edit-profile-details form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.edit-profile-details input {
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 5px;
  width: 300px;
}

.edit-profile-details input[type='text'],
.edit-profile-details input[type='email'] {
  height: 30px;
}

.edit-profile-details button {
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  color: var(--dark);
  font: 20px var(--secondary-text);
  margin: 1rem auto;
  padding: 5px;
  transition: 0.1s ease-in-out;
}

.edit-profile-details button:hover {
  opacity: 0.7;
}

/* Message styling */
.message {
  background-color: #4caf50;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 18px;
  left: 50%;
  opacity: 1;
  padding: 20px;
  position: fixed;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 50%;
  transition: opacity 1s ease-in-out;
  z-index: 1000;
}

/* Error message styling */
.message.error {
  background-color: #e74c3c;
}

/* Fade out the message after 3 seconds */
.message.fade-out {
  opacity: 0;
}

/* Vendor Dashboard */

#vendor-info {
  background-color: var(--light);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

#vendor-info h2 {
  color: var(--dark);
  font: 48px var(--main-text);
}

#vendor-info span {
  font-weight: 100;
}

#vendor-info div {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  gap: 1rem;
  flex-direction: column;
}

#vendor-info a {
  background-color: none;
  margin-bottom: 1rem;
}

#vendor-info div:nth-of-type(2) {
  border-left: 3px solid var(--secondary-color);
  flex: 2;
  padding: 2rem;
}

#vendor-info img {
  border-radius: 100%;
}

#vendor-info p {
  text-align: center;
}

#vendor-info div nav ul {
  padding: 0;
}

#vendor-info div nav li a {
  color: var(--dark);
}

/* Manage Products */

.manage-products h2,
.manage-products p {
  text-align: center;
}

.manage-products h2:first-of-type {
  font: 48px var(--main-text);
}

.manage-products legend {
  font: 24px var(--secondary-text);
  text-align: center;
  padding: 1rem;
}

.manage-products form {
  background-color: var(--light);
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  width: 80%;
}

.manage-products form div:nth-of-type(2) {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.manage-products fieldset {
  border: none;
  display: flex;
  justify-content: space-between;
}

.manage-products button {
  background-color: var(--dark);
  border: none;
  border-radius: 5px;
  color: var(--light);
  font: 18px var(--secondary-text);
  padding: 0.5rem;
}

/* Vendor Market RSVP */

.market-rsvp h2 {
  color: var(--dark);
  font: 48px var(--main-text);
  text-align: center;
}

.market-rsvp table {
  background-color: var(--light);
  border-spacing: 0;
  margin: 0 auto;
  padding: 1rem;
}

.market-rsvp th {
  background-color: var(--dark);
  color: var(--light);
  padding: 1rem;
}

.market-rsvp td {
  border: 1px solid var(--dark);
  padding: 1rem;
}

/* Admin / Super Admin Dash */

.notification {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}

.admin-dashboard main,
.super-admin-dashboard main {
  margin: 1rem;
}

.admin-dashboard table,
.super-admin-dashboard table {
  background-color: var(--light);
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.admin-dashboard td,
.super-admin-dashboard td {
  border: 1px solid var(--dark);
  padding: 0.5rem;
  text-align: left;
}

.admin-dashboard th,
.super-admin-dashboard th {
  background-color: var(--secondary-color);
  color: var(--light);
  padding: 0.5rem;
}

.admin-dashboard table td a,
.super-admin-dashboard table td a {
  background-color: var(--dark) !important;
  color: var(--light) !important;
  padding: 0.25rem;
  text-decoration: none;
  width: 100%;
}

.admin-dashboard section:nth-of-type(4) form,
.super-admin-dashboard section:nth-of-type(5) form {
  background-color: var(--light);
  display: inline-block;
  margin: 0.5rem;
  padding: 1rem;
}

.card-info {
  display: none;
}

td.request-action-column {
  display: flex;
  gap: 5px;
}

.section-header {
  background-color: #f5f5f5;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 5px;
}

.section-header:hover {
  background-color: #ddd;
}

.section-content {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Fluid Text */

@media screen and (max-width: 1400px) {
  /* originally 72px */
  .static-text {
    font-size: calc(36px + (72 - 36) * (100vw - 375px) / (1400 - 375));
  }

  /* originally 64px */
  .about-us h2 {
    font-size: calc(32px + (64 - 32) * (100vw - 375px) / (1400 - 375));
  }

  #menu {
    font-size: calc(32px + (48 - 32) * (100vw - 375px) / (1400 - 375));
  }

  /* originally 48px */
  header h1,
  .user-login legend,
  .sign-up legend,
  .vendor-signup h2,
  #user-profile h2,
  .edit-profile-details h2,
  #vendor-info h2,
  .manage-products h2:first-of-type,
  .market-rsvp h2 {
    font-size: calc(24px + (48 - 24) * (100vw - 375px) / (1400 - 375));
  }

  /* originally 46px */
  #vendorhead h2 {
    font-size: calc(23px + (46 - 23) * (100vw - 375px) / (1400 - 375));
  }

  /* originally 36px */
  .vendors-attending h2,
  .market-schedule h2,
  #vendor-profile-card h2,
  #user-profile h2:last-of-type {
    font-size: calc(18px + (36 - 18) * (100vw - 375px) / (1400 - 375));
  }

  /* originally 32px */
  .aboutus-item:nth-of-type(4) a,
  .hero-image > div h2,
  label[for='profile-pic'],
  .vendor-profile h2 {
    font-size: calc(16px + (32 - 24) * (100vw - 375px) / (1400 - 375));
  }

  .text,
  #type-text,
  .aboutus-item p,
  .edit-profile-details form label {
    font-size: calc(16px + (32 - 16) * (100vw - 375px) / (1400 - 375));
  }

  /* originally 30px  */
  blockquote {
    font-size: calc(16px + (30 - 16) * (100vw - 375px) / (1400 - 375)) !important;
  }

  /* originally 28px */
  .vendor-card h2 {
    font-size: calc(14px + (28 - 14) * (100vw - 375px) / (1400 - 375));
  }

  /* originally 24px */
  .week-vendor li,
  .market-schedule table,
  .market-schedule table th,
  .vendor-card,
  .product-card h3,
  #user-card p,
  .manage-products legend {
    font-size: calc(16px + (24 - 16) * (100vw - 375px) / (1400 - 375));
  }

  /* originally 22px */
  nav ul li,
  .hero-image > div p {
    font-size: calc(14px + (22 - 14) * (100vw - 375px) / (1400 - 375));
  }

  /* originally 20px */
  .feedback-popup,
  .about-us div div:last-of-type h3,
  .about-us div div:last-of-type span,
  .favorite-btn,
  .edit-profile-details button {
    font-size: calc(14px + (20 - 14) * (100vw - 375px) / (1400 - 375));
  }

  /* originally 18px */
  #nav-history button,
  .frozen-popup,
  footer,
  .prev,
  .next,
  .vendor-card p,
  .user-login input,
  #openSignup,
  #login,
  .popup-content button,
  .sign-up button,
  .vendor-signup button,
  .vendor-signup p,
  #saved-vendors li,
  .message,
  .manage-products button,
  #vendor-profile-card p {
    font-size: calc(12px + (18 - 12) * (100vw - 375px) / (1400 - 375));
  }

  /* originally 16px */
  html,
  #vendorhead button,
  #notification,
  .custom-file-label {
    font-size: calc(12px + (16 - 12) * (100vw - 375px) / (1400 - 375));
  }

  /* originally 14px */
  .btn,
  #breadcrumbs li {
    font-size: calc(11px + (14 - 11) * (100vw - 375px) / (1400 - 375));
  }

  /* originally 12px */
  .numbertext {
    font-size: calc(10px + (12 - 10) * (100vw - 375px) / (1400 - 375));
  }
}

@media screen and (max-width: 1240px) {
  /* About Us */
  .about-us main section {
    width: 90%;
  }
}

@media screen and (max-width: 1170px) {
  /* Our Vendors */
  #vendor-profile-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Vendor Signup */

  .vendor-signup form {
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 1080px) {
  /* Our Vendors */
  .vendor-card {
    height: 300px;
  }

  /* User Dash */
  #user-profile {
    flex-direction: column;
  }

  #user-card {
    align-items: center;
    justify-content: center;
  }

  /* Vendor Dash */
  #vendor-info {
    flex-direction: column;
  }

  #vendor-info div:nth-of-type(2) {
    border-left: 0;
    border-top: 3px solid var(--secondary-color);
  }
}

@media screen and (max-width: 950px) {
  /* Our Vendors */

  #vendorhead input {
    flex: 3;
    width: 300px;
  }

  #vendorhead button {
    width: 70px;
  }

  /* About Us */
  .about-us main section {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }

  .aboutus-item {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .aboutus-item:nth-of-type(2) {
    flex-direction: column !important;
    text-align: center;
  }

  #contact {
    margin: 0;
  }

  /* Sign Up forms */
  .sign-up form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 890px) {
  /* Body */
  body {
    padding-top: 154px;
  }

  /* header */
  header img {
    max-width: 200px;
  }

  /* Our Vendors */
  #vendor-list {
    justify-content: space-around;
  }

  /* Admin/ Super Admin Dash */
  .super-admin-dashboard table,
  .super-admin-dashboard thead,
  .super-admin-dashboard tbody,
  .super-admin-dashboard th,
  .super-admin-dashboard td,
  .super-admin-dashboard tr,
  .admin-dashboard table,
  .admin-dashboard thead,
  .admin-dashboard tbody,
  .admin-dashboard th,
  .admin-dashboard td,
  .admin-dashboard tr {
    display: block;
    width: 100%;
  }

  .card-info {
    display: inline;
  }

  .admin-dashboard thead,
  .super-admin-dashboard thead {
    display: none; /* Hide table headers */
  }

  .admin-dashboard tr,
  .super-admin-dashboard tr {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .admin-dashboard td,
  .super-admin-dashboard td {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

  .admin-dashboard td::before,
  .super-admin-dashboard td::before {
    content: attr(data-label);
    font-weight: bold;
    flex-basis: 40%;
  }

  .super-admin-dashboard a:not(:first-of-type),
  .admin-dashboard a:not(:first-of-type) {
    text-align: center;
  }

  /* Make buttons full width */
  .admin-dashboard .btn,
  .super-admin-dashboard .btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 8px;
    font-size: 14px;
  }

  .admin-dashboard select,
  .super-admin-dashboard select {
    width: 100%;
    padding: 5px;
  }
}

@media screen and (max-width: 780px) {
  /* Home */
  .static-text {
    top: 50%;
  }

  .hero-image {
    height: 65vh;
  }

  /* Vendor Profile */

  #vendor-upcoming-markets {
    border-radius: 0 0 5px 5px;
  }

  .product-card {
    width: 250px;
  }

  /* Login */
  .user-login {
    width: 80%;
  }
}

@media screen and (max-width: 660px) {
  /* body */
  body {
    padding-top: 107px;
  }

  /* header */
  header img {
    max-width: 100px;
  }

  #searchBar {
    width: 150px !important;
  }
}

@media screen and (max-width: 490px) {
  /* Home Page */
  .hero-image {
    height: 48vh;
  }

  /* Our Vendors */
  .vendor-card {
    height: 200px;
    width: 100px;
  }

  .vendor-card img {
    width: 100px;
  }

  /* Vendor Profile */
  .product-card {
    width: 150px;
  }

  /* sign up */
  .sign-up input {
    width: 300px;
  }
}

@media screen and (max-width: 380px) {
}
